<div class="container">
  <div class="row">
    <div class="col-xs-3">Date</div>
    <div class="col-xs-3">Description</div>
    <div class="col-xs-3">Amount</div>
    <div class="col-xs-3">Posted By</div>
  </div>
  <% bills.forEach(function(bill) { %>
    <div>
      <div class="col-xs-3"><%= bill.escape('date') %></div>
      <div class="col-xs-3"><%= bill.escape('description') %></div>
      <div class="col-xs-3"><%= bill.escape('amount') %></div>
      <div class="col-xs-3"><%= bill.lender().escape('f_name') %> <%= bill.lender().escape('l_name') %></div>
    </div>
  <% }) %>
</div>
