<a id="toggle-new-bill-form" class="btn btn-info show-form" >
  [ + ] Split New Bill
</a>
<div id="new-bill"></div>

<h2>All Bills</h2>

<table class="table table-compact">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Posted By</th>
  </tr>
  <% bills.forEach(function(bill) { %>
  <% debugger; %>
    <tr>
      <td>
        <a href="/#/bills/<%= bill.escape('id') %>">
          <%= bill.escape('date') %>
        </a>
      </td>
      <td>
        <a href="/#/bills/<%= bill.escape('id') %>">
          <%= bill.escape('description') %>
        </a>
      </td>
      <td>
        $ <a href="/#/bills/<%= bill.escape('id') %>">
          <%= bill.escape('amount') %>
        </a>
      </td>
      <td>
        <a href="/#/bills/<%= bill.escape('id') %>">
          <%= bill.lender().escape('email') %>
        </a>
      </td>
    </tr>
  <% }) %>
</table>