<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#history" href="#collapseBills">
        Bill History
      </a>
    </h4>
  </div>
  <div id="collapseBills" class="panel-collapse collapse">
    <div class="panel-body">
      <table class="table table-compact">
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Posted By</th>
        </tr>
        <% bills.forEach(function(bill) { %>
          <tr>
            <td><%= bill.escape('date') %></td>
            <td><%= bill.escape('description') %></td>
            <td><%= bill.escape('amount') %></td>
            <td><%= bill.lender().escape('f_name') %> <%= bill.lender().escape('l_name') %></td>
          </tr>
        <% }) %>
      </table>
    </div>
  </div>
