<h2>New Bill</h2>
<div id="new-bill"></div>

<h2>All Bills</h2>

<table class="table table-compact">
  <tr>
    <th>Amount</th>
    <th>Description</th>
    <th>Posted By</th>
  </tr>
  <% bills.each(function(bill) { %>
    <tr>
        <td>
          $ <a href="/#/bills/<%= bill.escape('id') %>">
            <%= bill.escape('amount') %>
          </a>
        </td>
        <td>
          <a href="/#/bills/<%= bill.escape('id') %>">
            <%= bill.escape('description') %>
          </a>
        </td>
        <td>
          <a href="/#/bills/<%= bill.escape('id') %>">
            <%= bill.receiver().escape('email') %>
          </a>
        </td>
    </tr>
  <% }) %>
</table>