<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <h1 class="div-title"><%= bill.escape('description') %></h1>

      <div class="bordered-table">
        <div class="row">
          <div class="col-xs-12">
            <h4>Date: <%= bill.escape('date') %></h4>
            <h4>Posted By: <%= lender.displayName() %></h4>
          </div>
        </div>

        <br>

        <div class="row lender">
          <div class="col-xs-9">
            <%= lender.displayName() %>
          </div>
          <div class="col-xs-3">
            <%= accounting.formatMoney(bill.escape('amount_not_charged')) %>
          </div>
        </div>

        <% bill_shares.forEach(function(bill_share) { %>
          <div class="row">
            <div class="col-xs-9">
              <%= bill_share.debtor().displayName() %>
            </div>
            <div class="col-xs-3">
              <%= accounting.formatMoney(bill_share.escape('amount')) %>
            </div>
          </div>
        <% }) %>

        <div class="row ">
          <div class="col-xs-9 total">Total</div>
          <div class="col-xs-3 total"><%= accounting.formatMoney(bill.escape('amount')) %></div>
        </div>
      </div>

      <div id='new-bill-share'></div>
    </div>
  </div>
</div>
