<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <h3><span id="modal-amount-data"></span> balance is settled between:</h3>
        <strong id="modal-current-user-data"></strong> and <strong id="modal-other-user-data"></strong>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" id="edit-modal-confirmation">Confirm</button>
      </div>
    </div>
  </div>
</div>


<h1>My Net Worth: <%= accounting.formatMoney(totals.net) %></h1>
<h2>I Owe Friends <%= accounting.formatMoney(Math.abs(totals.debt)) %></h2>
<div id="accordian">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">Friend</div>
      <div class="col-xs-3">Balance</div>
      <div class="col-xs-3">Action</div>
    </div>
    <% userBalances.forEach(function(user) { %>
      <% if (parseFloat(user.escape('balance')) < 0) { %>
        <div class='row' >
          <div class="col-xs-6 bills-index"
                data-index="<%= user.id %>"
                data-toggle="collapse"
                data-parent="#accordion"
                data-target="#bill-history-<%= user.id %>">
            <%= user.escape('f_name') %> <%= user.escape('l_name') %>
          </div>

          <div class='col-xs-3 neg-balance' id="user-balance-<%= user.id %>">
            <%= accounting.formatMoney(user.escape('balance')) %>
          </div>

          <div class="col-xs-3">
            <button class="btn btn-xs btn-primary edit-balance"
                    data-user="<%= user.id%>"
                    data-amt="<%= user.escape('balance') %>"
                    >
              Settled
            </button>
          </div>
        </div>
        <div id="bill-history-<%= user.id %>" class='bill-history collapse'></div>
      <% } %>
    <% }) %>
  </div>

  <h2>Friends Owe Me <%= accounting.formatMoney(totals.credit) %></h2>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">Friend</div>
      <div class="col-xs-3">Balance</div>
      <div class="col-xs-3">Action</div>
    </div>
    <% userBalances.forEach(function(user) { %>
      <% if (parseFloat(user.escape('balance')) > 0) { %>
        <div class="row">
          <div class="col-xs-6 bills-index"
                data-index="<%= user.id %>"
                data-toggle="collapse"
                data-parent="#accordion"
                data-target="#bill-history-<%= user.id %>">
              <%= user.escape('f_name') %> <%= user.escape('l_name') %>
          </div>
          <div class='col-xs-3 pos-balance' id="user-balance-<%= user.id %>"><%= accounting.formatMoney(user.escape('balance')) %></div>
          <div class="col-xs-3">
            <button class="btn btn-xs btn-primary edit-balance"
                    data-user="<%= user.id %>"
                    data-amt="<%= user.escape('balance') %>"
                    >
              Settled
            </button>
          </div>
        </div>
        <div id="bill-history-<%= user.id %>" class="bill-history collapse"></div>
      <% } %>
    <% }) %>
  </div>
  </div>
</div>
