<h2>I Owe Friends</h2>
<table class="table">
  <tr>
    <th>Friend</th>
    <th>Balance</th>
    <th>Action</th>
  </tr>
  <% userBalances.forEach(function(user) { %>
    <% if (parseFloat(user.escape('balance')) < 0) { %>
      <tr>
        <td><%= user.escape('f_name') %> <%= user.escape('l_name') %></td>
        <td class='neg-balance'>$ <%= user.escape('balance') %></td>
        <td>
          <a receiver-id="<%= user.escape('id') %>"
              amt="<%= user.escape('balance') %>"
              class="btn btn-default btn-xs mark-user-paid">
            Mark As Paid
          </a>
        </td>
      </tr>
    <% } %>
  <% }) %>
</table>

<h2>Friends Owe Me</h2>

<table class="table">
  <tr>
    <th>Friend</th>
    <th>Balance</th>
    <th>Action</th>
  </tr>
  <% userBalances.forEach(function(user) { %>
    <% if (parseFloat(user.escape('balance')) > 0) { %>
      <tr>
        <td><%= user.escape('f_name') %> <%= user.escape('l_name') %></td>
        <td class='pos-balance'>$ <%= user.escape('balance') %></td>
        <td>
          <a sender-id="<%= user.escape('id') %>"
              amt="<%= user.escape('balance') %>"
              class="btn btn-default btn-xs mark-user-paid">
            Mark As Paid
          </a>
        </td>
      </tr>
    <% } %>
  <% }) %>
</table>
