<div id="editModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          <span id="modal2-glyphicon"></span>
          Balance <span class="modal2-status-data"></span> <span class="modal2-amount-data"></span>
        </h3>
      </div>
      <div class="modal-body">

        The <strong class="modal2-amount-data"></strong> charge for

        <strong id="modal2-description-data"></strong>

        from <strong id="modal2-lender-data"></strong> to <strong id="modal2-debtor-data"></strong>
        is <strong class="modal2-status-data"></strong>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" id="edit-modal2-confirmation">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
    <table class="table bill-share-table">
      <tr class="active">
        <td class="col-xs-2">Date</td>
        <td class="col-xs-1">Amount</td>
        <td class="col-xs-2">Status</td>
        <td class="col-xs-6">Details</td>
      </tr>
      <% bill_shares.forEach(function(bill_share) { %>
        <tr>
          <td class="col-xs-2">
            <%= bill_share.bill().escape('date') %>
          </td>

          <td class="col-xs-1">
            <%= accounting.formatMoney(bill_share.escape('amount')) %>
          </td>

          <td class="col-xs-2">
            <% if (bill_share.escape('status') === 'active') { %>
              <button class='btn btn-xs btn-success edit-share'
                      data-id="<%= bill_share.id %>"
                      data-status='paid'
                      data-lender="<%= bill_share.lender().id %>"
                      data-debtor="<%= bill_share.debtor().id %>"
                      data-amt="<%= bill_share.escape('amount') %>"
                      data-description="<%= bill_share.bill().escape('description') %>"
                      >
                Paid
              </button>
              <button class='btn btn-xs btn-warning edit-share'
                      data-id="<%= bill_share.id %>"
                      data-status='void'
                      data-lender="<%= bill_share.lender().id %>"
                      data-debtor="<%= bill_share.debtor().id %>"
                      data-amt="<%= bill_share.escape('amount') %>"
                      data-description="<%= bill_share.bill().escape('description')%>"
                      >
                Void
              </button>
            <% } else { %>
              <%= bill_share.escape('status') %>
            <% } %>
          </td>

          <td class="col-xs-6">
            <% if (bill_share.lender().escape('id') === BillSplit.currentUser.id) { %>
              I
            <% } else {%>
              <%= bill_share.lender().escape('f_name') + ' ' + bill_share.lender().escape('l_name') %>
            <% } %>

            <small> charged </small>

            <% if (bill_share.debtor().escape('id') === BillSplit.currentUser.id) { %>
              Me
            <% } else { %>
              <%= bill_share.debtor().escape('f_name') + ' ' + bill_share.debtor().escape('l_name') + ' '%>
            <% } %>

            <small> for </small>
            <a href="#/bills/<%= bill_share.bill().escape('id') %>">
              <%= bill_share.bill().escape('description')%>
            </a>
          </td>

        </tr>
      <% }) %>
    </table>
  </div>
</div>
