<div class="row">
  <div class="col-xs-12">
    <a id="remove-billshare-<%= count %>" class='btn btn-danger btn-xs remove-billshare'>X</a>
    <label>Friend
      <select class="form-control"
              name="bill[bill_shares_attributes][<%= count %>][debtor_id]">
        <option value=""></option>
        <% users.forEach(function(user){ %>
          <option value="<%= user.escape('id') %>">
          <%= user.escape('email') %>
          (<%= user.escape('f_name') %> <%= user.escape('l_name') %>)
          </option>
        <% }) %>
      </select>
    </label>

    <label>Amount
      <input type="text"
              name="bill[bill_shares_attributes][<%= count %>][amount]"
              class="form-control share-amount">
    </label>
  </div>
</div>
