<div class="form-group">
  <label>Split with...
    <select class="form-control"
                     name="bill[bill_shares_attributes][<%= count %>][debtor_id]">
      <option value=""></option>
      <% users.forEach(function(user){ %>
        <option value="<%= user.escape('id') %>">
        <%= user.escape('email') %>
        (<%= user.escape('f_name') %> <%= user.escape('l_name') %>)
        </option>
      <% }) %>
    </select>
  </label>

  <label>Amount
    <input type="text" name="bill[bill_shares_attributes][<%= count %>][amount]">
  </label>
</div>


