<div class="row">
  <div class="col-xs-12">
    <select class="chosen-select"
            name="bill[bill_shares_attributes][<%= count %>][debtor_id]"
            data-placeholder="Select a friend..."
            >
      <option value=""></option>
      <% users.forEach(function(user){ %>
        <option value="<%= user.escape('id') %>">
        <%= user.escape('email') %>
        (<%= user.escape('f_name') %> <%= user.escape('l_name') %>)
        </option>
      <% }) %>
    </select>

    <label>Amount
      <input type="text"
              name="bill[bill_shares_attributes][<%= count %>][amount]"
              class="form-control share-amount">
    </label>
  </div>
</div>
