<p><%= sender.escape('f_name') %> <%= sender.escape('l_name') %> paid $<%=amount %> to <%= receiver.escape('f_name') %> <%= receiver.escape('l_name') %></p>
<button class="btn btn-default" id='cancel-payment'>Cancel</button>
<button class="btn btn-primary" id="submit-payment">Record Payment</button>
