<!DOCTYPE html>
<html>
<head>
  <title>BillSplit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <%= render 'layouts/navbar' %>
<% end %>
<div class="container">
  <%= render('layouts/errors') if flash[:errors]  %>
  <%= render('layouts/notice') if flash[:notice]  %>

  <%= yield %>
</div>
</body>
</html>
